.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
 
}
.cart-container{
    border: 2px solid rebeccapurple;
    background-color: rgba(255, 153, 0, 0.3);
}
.product-container{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px;
    margin: 100px 50px;
}
